.search-form {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 2px solid #808080;
  border-radius: 5px;
  flex-grow: 0.5;
  font-size: 14px;
  font-weight: 200;
  margin-top: 10px;
}

.search-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  width: 86px;
}

.search-btn:hover {
  background-color: #6c8cff;
  border-color: #000000;
}

.search-btn:focus {
  border-color: #808080;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.gallery-card {
  width: calc(25% - 20px);
  border-radius: 10px;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    border-color 0.25s ease;
}

.gallery-card.show {
  transform: scale(1);
}
.gallery-card:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  border-color: #434344;
}
.gallery-img {
  width: 380px;
  height: 253px;
  max-width: auto;
  max-height: auto;
  display: block;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #303030;
  border-bottom-color: #0008ff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  margin: 0 auto;
}

.loader.is-active {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
